<footer id="footer">
  <div id="connect-section">
    <h4 id="connect-text">Connect</h4>
    <div id="connect-images">
      <span>
        <a href="https://www.facebook.com/scrapmetal44/">
          <img id="facebook-image" class="connect-image" src="<%= url('/images/facebook-image.png') %>" alt="FACEBOOK">
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/RobertBassoIII/">
          <img id="linkedin-image" class="connect-image" src="<%= url('/images/linkedin-image.png') %>" alt="LINKEDIN">
        </a>
      </span>

      <span>
        <a href="https://github.com/RBIII">
          <img id="github-image" class="connect-image" src="<%= url('/images/github-image.png') %>" alt="GITHUB">
        </a>
      </span>

      <span>
        <a href="http://stackoverflow.com/users/4916648/someschmo">
          <img id="stack-overflow-image" class="connect-image" src="<%= url('/images/stack-overflow.png') %>" alt="STACK OVERFLOW">
        </a>
      </span>
    </div>
  </div>

  <div id="copyright-section">
    <h7 id="email-address">robertbasso2@gmail.com</h7>
    <h7 id="copyright">@ 2017 Robert Basso</h7>
  </div>
</footer>
