<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :meta %>
  </head>
  <body>
    <%= erb :header %>

    <embed id="resume-image" src="<%= url('/images/resume.pdf') %>" alt="RESUME"/>
  </body>
</html>
