#footer {
  min-height: 8rem;
  min-width: 100%;
  background-color: #2b2b2f;
  color: white;
}

#connect-section {
  padding-top: 1rem;
}

#copyright-section {
  padding-top: 1rem;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  display: block;
}

#connect-text {
  font-size: 20px;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  font-family: 'Raleway', sans-serif;
}

.connect-image {
  height: 20px;
  width: 20px;
  margin-left: 0.2rem;
}

#email-address,
#copyright {
  display: block;
}
