#intro-section {
  background: url('/images/space-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 34rem;
  margin-bottom: 2rem;
}

#intro-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 14%;
  font-family: 'Jura', sans-serif;
}

#project-text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
}

.project {
  text-align: center;
  margin-bottom: 4%;
}

.project-image {
  width: 900px;
}

.project-image:hover {
  opacity: 0.6;
}

.project-title {
  margin-top: 1rem;
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
